body {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.app {
  width: 400px;
  height: 700px;
  border: 1px solid darkcyan;
  margin: auto;
  margin-top: 4rem;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
}
.app header {
  background: rgb(0, 53, 208);
  background: linear-gradient(125deg, rgb(0, 53, 208) 0%, rgb(23, 0, 128) 100%);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.app header input {
  padding: 0.5rem 1rem;
  border: none;
  background-color: rgb(8, 0, 46);
  border-radius: 15px;
  color: white;
  font-size: 15px;
}
.app header input:focus {
  outline: 2px solid rgb(88, 131, 255);
}
.app #messages {
  padding: 1rem;
  background-color: rgb(8, 0, 46);
  height: 100%;
  color: white;
}
.app #messages .message {
  background: rgb(0, 53, 208);
  background: linear-gradient(125deg, rgb(0, 53, 208) 0%, rgb(23, 0, 128) 100%);
  padding: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 1rem;
  border-radius: 10px;
}
.app #messages .message h5 {
  margin: 0;
  color: cyan;
  font-size: 15px;
}
.app #messages .message p {
  margin: 0;
}
.app #message_form {
  display: flex;
  width: 100%;
  border-radius: 0px 0px 30px 30px;
  position: absolute;
  gap: 0.75rem;
  bottom: 0;
  padding: 1rem;
}
.app #message_form input {
  padding: 0.5rem 1rem;
  border: none;
  width: 70%;
  border-radius: 20px;
  font-size: 15px;
  background: rgb(0, 53, 208);
  background: linear-gradient(125deg, rgb(0, 53, 208) 0%, rgb(23, 0, 128) 100%);
  color: white;
}
.app #message_form input:focus {
  outline: 2px solid rgb(88, 131, 255);
}
.app #message_form button {
  color: white;
  font-size: 20px;
  width: 45px;
  font-weight: 900;
  height: 45px;
  background: rgb(88, 131, 255);
  background: linear-gradient(125deg, rgb(88, 131, 255) 0%, rgb(37, 0, 205) 100%);
  border: 0;
  border-radius: 50%;
  transition: 0.2s;
}
.app #message_form button:focus {
  transition: 0s;
  outline: 2px solid rgb(88, 131, 255);
}
.app #message_form button:hover {
  transform: scale(1.05);
  cursor: pointer;
}
